/* Tabs */
.onekey-tabs {
  @apply okd-list-none okd-overflow-hidden okd-p-0 okd-leading-6;
}

/* Nav */
.onekey-tabs .onekey-tabs-nav {
  @apply okd-flex okd-flex-none okd-items-center okd-relative okd-border-b okd-border-gray-200 okd-mb-4;
}

.onekey-tabs .onekey-tabs-nav:before {
  @apply okd-border-b okd-border-gray-50 okd-absolute okd-left-0 okd-right-0 okd-bottom-0;
  content: "";
}

.onekey-tabs .onekey-tabs-nav-wrap {
  @apply okd-relative okd-flex okd-flex-auto okd-self-stretch okd-overflow-hidden okd-whitespace-nowrap okd-translate-x-0 okd-transform;
  /* This might be use in the future
    display: inline-block;
    display: flex; */
}

.onekey-tabs-nav-wrap:before,
.onekey-tabs-nav-wrap:after {
  @apply okd-absolute okd-opacity-0 okd-transition-opacity okd-pointer-events-none;
  z-index: 1;
  content: "";
}

.onekey-tabs .onekey-tabs-nav-list {
  @apply okd-flex okd-relative okd-transition-transform okd-duration-75;
}

/* Ink Bar */
.onekey-tabs-ink-bar {
  @apply okd-bg-brand-500 okd-pointer-events-none okd-absolute okd-bottom-0;
  height: 2px;
}

.onekey-tabs-ink-bar-animated {
  transition: width 0.3s, left 0.3s, right 0.3s;
}

/* Tab */
.onekey-tabs .onekey-tabs-tab {
  @apply okd-py-4 okd-px-1 okd-font-medium okd-text-sm okd-leading-4 okd-text-gray-500 okd-cursor-pointer;
  @apply okd-border-b-2 okd-border-transparent;
  transition: border-color 0.3s;
}

.onekey-tabs .onekey-tabs-tab:hover {
  @apply okd-text-gray-600 okd-border-gray-500;
}

.onekey-tabs .onekey-tabs-tab + .onekey-tabs-tab {
  @apply okd-ml-8;
}

.onekey-tabs .onekey-tabs-tab .onekey-tabs-tab-btn {
  @apply okd-transition-colors okd-duration-300;
  @apply focus:okd-outline-none;
}

.onekey-tabs .onekey-tabs-tab-active .onekey-tabs-tab-btn {
  @apply okd-text-brand-500;
}

/* Tabpane */
.onekey-tabs .onekey-tabs-tabpane {
  @apply okd-flex-none okd-w-full okd-outline-none;
}

.onekey-tabs-content {
  @apply okd-flex okd-w-full;
}

.onekey-tabs-content-holder {
  @apply okd-flex-auto okd-min-w-0 okd-min-h-0;
}

.onekey-tabs-content-animated {
  transition: margin 0.3s;
}
